body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#inputTarea {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

#inputTarea:focus {
  outline: none;
  border-color: #6c63ff;
}

#btnAgregar {
  background: #db739f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

#btnAgregar:hover {
  transform: scale(1.05);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  cursor: pointer;
  flex: 1;
}

li button {
  background: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
}

li button:hover {
  opacity: 0.8;
}

#contador {
  text-align: center;
  margin-top: 15px;
  color: #555;
  font-weight: bold;
}