body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  text-align: center;
  background: white;
  padding: 24px;
  border-radius: 8px;
}

button {
  padding: 8px 16px;
  background: rgb(240, 135, 193);
  color: white;
  border: none;
  border-radius: 4px;
}